.contact {
  margin-top: 100px;
}

.form {
  width: 100%;
  max-width: 800px;
}

.contactForm {
  margin: 0 0 5% 0;
}

.contactForm ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

.contactForm li {
  margin-bottom: 30px;
}

.contactForm li:last-of-type {
  border-bottom: none;
}

.textarea {
  margin-bottom: 20px;
  position: relative;
  height: 60px;
}

.specialH {
  height: 140px;
}

.inputShadow {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
}

.input, .label {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto Mono';
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 6%);
  padding: 18px;
  resize: vertical;
  transition: 0.3s;
  z-index: 10;
  color: white;
}

.input:focus {
  outline: 0;
}

.input::placeholder {
  transition: opacity 0.5;
}

.input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

.input:focus,
.input:not(:placeholder-shown).input:not(:focus) {
  transform: translate(-8px, -8px);
  padding: 28px 18px 18px;
  border: 1px solid white;
}

.label {
  z-index: 15;
  opacity: 0;
  position: absolute;
  top: 16px;
  left: 20px;
  transition: 0.2s;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 12px;
}

.input:focus + .label,
.input:not(:placeholder-shown).input:not(:focus) + .label {
  opacity: 1;
  top: 0;
  left: 12px;
  transition: 0.3s;
}

.sendWrapper {
  width: 200px;
  height: 58px;
  background-color: white;
  position: relative;
}

.send {
  text-transform: uppercase;
  padding: 20px 30px;
  background-color: hsl(0, 0%, 6%);
  color: hsl(0, 0%, 87%);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid white;
  transform: transform 0.3s;
  position: absolute;
  width: 100%;
}

.send:hover {
  transform: translate(-8px, -8px);
}

.send:active {
  transform: translate(0);
}

@media(max-width: 768px) {
  .contactForm {
        margin: 5% 0;
        width: 98%;
  }

  .input:focus,
  .input:not(:placeholder-shown).input:not(:focus) {
    transform: translate(-4px, -4px);
  }

  .label {
    font-size: 10px;
  }

  .send:hover {
    transform: translate(-4px, -4px);
  }
}