@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* Basic styling */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #303030;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: .60rem;
  background-color: #e2e8e9;
}

::-webkit-scrollbar-thumb {
  background-color: #919ea1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #868c8d;
}

body {
  font-family: 'Roboto Mono';
  background-color: #0f0f0f;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 92%;
  margin: 0 auto;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.pageTitle {
  font-size: 32px;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media(max-width: 768px) {
  .whitespace {
        display: none;
  }
}

.hero-content {
  margin-left: 0%;
}

.hero-content > * {
  margin-bottom: 16px;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

@media(max-width: 768px) {
  .hero-content {
        width: 96%;
        margin: 0 auto;
  }
}

/* Navigation */
nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  z-index: 30;
  top: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

nav .container {
  display: flex;
  justify-content: space-between;
}

nav #brand {
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 30;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media(max-width: 768px) {
  #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
  }

  #menu a {
        font-size: 20px;
        font-weight: 300;
  }

  #resize li span {
        font-weight: bolder;
  }

  nav #menu {
        display: none;
  }
}

@media(min-width: 768px) {
  #resize {
        visibility: hidden !important;
  }
}

.typewriter {
  position: relative;
  margin-left: 16vw;
  font-size: clamp(1.2rem, 4.5vw + 5px, 5.5rem);
  overflow: hidden;
  font-weight: bold;
}

.box {
  position: absolute;
  display: inline-block;
  bottom: 0;
  background-color: #aa3232;
  height: 1vw;
  z-index: -1;
  /* width: 20.5vw; */
}

.hi {
  display: inline-block;
}

/* Footer */
footer {
  margin-bottom: 3rem;
}

.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
  margin-bottom: 2rem;
}

.info .row {
  display: flex;
  flex-direction: row wrap;
}

@media only screen and (max-width: 992px) {
  .info .row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.info .row .col {
  flex: 1;
}

.info .row .col p {
  margin-bottom: 12px;
}

.info h4 {
  font-size: 18px;
  font-weight: lighter;
}

.info p {
  color: grey;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}


#ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45;
}


#tw::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee;
}


#yt::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #c4302b;
}

#media, #address {
  text-align: right;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media(max-width: 768px) {
  .collab, #personal, #media, #address {
        text-align: center;
  }

  .info ul {
        margin: 0 0 0 -22px;
        padding: 0;
  }
}

.cursor, .box {
  visibility: hidden;
}

.cardImgCon {
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.cardImg {
  height: 100%;
}

.cardImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cardImgConEven .cardImg img {
  transform-origin: left;
}

.cardImgConOdd .cardImg img {
  transform-origin: right;
}

.cardTitle {
  overflow: hidden;
  height: 60px;
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}