.vertical {
  margin-top: 40px;
  border-left: 1px solid hsl(0, 0%, 100%);
  height: 80px;
  position: absolute;
  left: 50%;
}

.projects {
  width: 100%;
  margin-top: 100px;
}

.projects h6 {
  text-align: center;
  font-size: 18px;
}