.projectThumb {
  display: flex;
  margin-bottom: 80px;
}

.col {
  flex: 1;
  position: relative;
}

.projectThumb:nth-child(even) .col:nth-child(2) {
  display: flex;
  justify-content: left;
  order: -1;
}

.projectThumb:nth-child(even) .col:nth-child(2) > h5 {
  right: 0;
}

.projectThumb:nth-child(odd) .col:nth-child(2) {
  display: flex;
  justify-content: right;
}

.projectThumb:nth-child(odd) .col:nth-child(2) > h5 {
  left: 0;
}

.col h5 {
  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: clamp(1.6rem, 3.5vw + 2px, 2.8rem);
  color: #fff;
  position: absolute;
  top: 15%;
  z-index: 10;
}

.col > div {
  width: 85%;
}

@media(max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }

  .projectThumb {
    height: 50vw;
    margin-bottom: 26px;
  }

  .projectThumb div:empty {
        display: none;
  }
}